.vscode/

__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*.egg-info/

*.mp4
**/*.mp4
**/**/*.mp4

*.pth
**/*.pth
*.pt
**/*.pt
*.pkl
*.pickle

*.npy
*/*.npy
**/*/npy


**/.cache/
profile/
plots/
DSV/models/profiling
DSV/models/log/
DSV/models/parallel/test
DSV/profile/
sparsity_trace_analysis/trace
print_model.py


*.so
DSV/boundk/build/
DSV/boundk/dist/
DSV/boundk/DSV.egg-info/


*/*.ncu-rep
*/*.html


preprocess/
results/
results_img/
sample_videos/
generated_videos/
vis/
test/
sample/test/
backup


docker-compose.yml
dockerfile
environment.yml


videogen_exp_cp_test


*.txt
!requirements.txt 








