.vscode/

__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*.egg-info/

*.mp4
**/*.mp4
**/**/*.mp4

*.pth
**/*.pth
*.pt
**/*.pt
*.pkl
*.pickle

*.npy
*/*.npy
**/*/npy
*.json
**/*.json

**/.cache/
profile/
plots/
DSV/models/log/
DSV/profile/

*.so
DSV/boundk/build/
DSV/boundk/dist/
DSV/boundk/DSV.egg-info/
DSV/profile
sparsity_trace_analysis/trace

*/*.ncu-rep
*/*.html

preprocess/
results/
results_img/
sample_videos/
generated_videos/
vis/
test/
sample/test/

docker-compose.yml
dockerfile
environment.yml

videogen_exp_cp_test

# Text Files (except requirements.txt)
*.txt
!requirements.txt 








